/*
FONTS
font-family: 'Playfair Display', serif;
font-family: 'Playfair Display SC', serif;
*/
body
{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display SC', serif;
    background-image: url(image/background.jpg);
    background-size: cover;
    background-position: center;
}
hr
{
    margin-top: 20px;
    align-items: center;
    width: 90%;
}

.signup
{
    width: 700px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.3);
    background-color: #FFF;
    margin: 8% auto 0;
    text-align: center;
    margin-bottom: 25px;
}
.btn {
    background: #525252;
    background-image: -webkit-linear-gradient(top, #525252, #000000);
    background-image: -moz-linear-gradient(top, #525252, #000000);
    background-image: -ms-linear-gradient(top, #525252, #000000);
    background-image: -o-linear-gradient(top, #525252, #000000);
    background-image: linear-gradient(to bottom, #525252, #000000);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 1px 1px 0px #000000;
    -webkit-box-shadow: 1px 1px 100px #000000;
    -moz-box-shadow: 1px 1px 100px #000000;
    box-shadow: 1px 1px 100px #000000;
    font-family: Georgia;
    color: #ffffff;
    font-size: 21px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #0f2533;
    background-image: -webkit-linear-gradient(top, #0f2533, #162f40);
    background-image: -moz-linear-gradient(top, #0f2533, #162f40);
    background-image: -ms-linear-gradient(top, #0f2533, #162f40);
    background-image: -o-linear-gradient(top, #0f2533, #162f40);
    background-image: linear-gradient(to bottom, #0f2533, #162f40);
    text-decoration: none;
  }
  .otheroption
  {
      text-decoration: none;
      color: white;
  }
  .otheroption:hover
  {
      color: tomato;
  }
 .m
 {
     margin: 5px auto;
 }
 h3
 {
    margin: 9px auto;
 }
 label
{
    display: block;
}

label span
{
    display: inline-block;
    text-align: center;
    width: 125px;
    font-size: 1rem;
}
.ali
{
    text-align: center ;
    padding-left: 0;
}
.ib
{
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid rgb(74, 74, 74);
    outline: none;
}
si h1
{
margin-bottom: 30px;
color: rgb(50, 50, 50);
}
button
{
    outline: none ;
    border: none;
    cursor: pointer;
}


.hi
{
text-decoration: none;
color: black;
}
.center
{
    width: 100%;
    text-align: center;
    margin-top: 20%;
}